<% include partials/header %>

<h1> this is home page</h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlQkgvcL1mDntAHCOHAASHSX2_fP3J4orSTISwPYF0fKIEGb4l">

<% include partials/footer %>