<h1>You Fell in love with <%= thingVar.toUpperCase() %></h1>
<%if(thingVar.toLowerCase()==="guava"){ %>
<p> You are right...Guava is the best fruit!!!</p>
<% } else { %>
<p>No you love Guava...you just don't know it yet</p>
<% } %>